*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: sans-serif;
    font-size: 14px;
}

.container {
    display: block;
    margin: 0 auto;
    width: 50%;
    -webkit-text-size-adjust: none;
}

.textarea {
    font-family: monospace;
    font-size: 1.5em;
    padding: 3px 7px;
    min-height: 30px;
    border: 1px solid #444;
    box-shadow: 0px 0px 2px black;
    cursor: text;
}

.textarea b {
    color: red;
}

.hidden, .csv-details {
    display: none;
}
